p {
  font-family: Lato;
  
}


.banner-image {
  background-image: url("../images/swish.jpg");  
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  text-align: center;
}

/* NAVBAR */
.topnav {
  color: black;
  overflow: hidden;  
  text-align: center;   
}
.topnav a {  
  color: gray;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;  
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #555;
  color: white;
}

/* SEARCH BAR */
.search button {
  background-color: gray;
  border-color: gray;
  
}
.search {
  width: 30%;
  margin: auto;
}

/* VIEW PLAYERS TABLE */
#table {
  width: 75%;
  margin: auto;
}

