p {
  font-family: Lato;
  
}


.banner-image {
  background-image: url("https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg");  
  height: 100px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  text-align: center;
}

/* NAVBAR */
.topnav {
  color: black;
  overflow: hidden;  
  text-align: center;   
}
.topnav a {  
  color: gray;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;  
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #555;
  color: white;
}
.search button {
  background-color: gray;
  border-color: gray;
}

